.mainimage {
  background-image: url(https://4.bp.blogspot.com/-MvC-b7NP2og/VO3_OvdON0I/AAAAAAABduU/8fUplha1Sdo/s0/Sunset_at_Tiergarten_UHD.jpg);
  background-size:cover;
  height:100vh;
  margin:0px;
  position: relative;

}
.overlay{

  height:100vh;
  width:100vw;
  margin:0px;
  text-align: center;
  position: absolute;

}
body {
  margin: 0px;
}
html {
  margin: 0px;
}
.overlay #title {
  vertical-align: middle;
  margin-left:auto;
  margin-right:auto;
  margin-top: 25vh;
  margin-bottom:0px;
  padding-bottom: 0px;
  width: 50vmax;
}
.overlay #subtitle{
  font-family: 'Fjalla One', sans-serif;
  font-size: 3vmax;
  color: white;

  background-color: black;
  padding-top:1vmax;
  padding-bottom:1vmax;
}
#_1{
  border-top: 1vmax solid black;
  border-bottom: 1vmax solid black;
  padding-left: 1vmax;

  color: rgba(0,0,0,1);
}
#_2{
  border-top: 1vmax solid black;
  border-bottom: 1vmax solid black;
  border-left: 1vmax solid black;
  border-right: 1vmax solid black;
  background-color: black;
}
#container{
  width:54vmax;
  margin-left:auto;
  margin-right:auto;

}

#mainButton{
  width:5vmax;
  height: 5vmax;
  background-color:black;
  border-radius: 10%;
  margin-top:10vh;
  border:transparent;
  text-align:center;
  margin-left:auto;
  margin-right:auto
}
#mainButton:hover{
  background-color:White;
}
#mainButton img{
  width:auto;
  height:auto;
}

#mainButton{
  text-align:center;
}

.overlay button:hover{
  transition-duration: 1s;
  background-color:white;
}

.navbar-toggle {
  background-color:none;
  border:none;
}

.navbar-toggle :hover{
  background-color:none;
  border:none;
}

.navbar-toggle :disabled{
  background-color:none;
  border:none;
}

.navbar-inverse{
  background-color: rgba(0, 0, 0, 0.5);
  border: transparent;
}

.navbar-styling{
  border-bottom:5px solid white;
}

.navbar-collapse{
  border:none;
}

#setStyleBrand a{
  color:white;
  font-family: Anton;
}

#setStyleBrand a span{
  color:black;
}

#buttonStyle button{
  background-color: transparent;
}

#buttonStyle button:hover{
  background-color: transparent;
}

#navbar-text li{
  color:white;
}

#buttonImg {
  display:block;
}

.img-responsive{
  display:inline-block;
}
